@model WebAppDemo.Models.Content

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.add_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.add_time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.modify_time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.modify_time)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
